body{
    /*background-color: #677359;*/
    
}

header{
    width: 100%;
    height: 10%;
    background-color: #DCDCDC;
}

main{
    background-color: #FFFFFF;
}

footer{
    background-color: #677359;
}

h1{
    font-family: 'Raleway', sans-serif;
    color: #677359;
}

p2{ /*para citar porque es Handwriting Type*/
    font-family: 'Imperial Script', cursive;

    font-family: 'Raleway', sans-serif;
}
