*{
    margin: 0;
}

body{
    /*background-color: #677359;*/
    background-color: #82927A;
    margin: 0;
}

header{
    width: 100%;
    height: 10%;
    background-color: #82927A;
    padding: 2%;
}

main{
    background-color: #FFFFFF;
}

footer{
    background-color: #677359;
}

.linea{
    border-left: thick solid #FFFFFF;
    height:13%;
    left: 2.5%;
    position: absolute;
    top: 36px; 
}

h1{
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF; text-shadow: darkslategray 0.1em 0.1em 0.2em;
    padding: 0 40px;
    font-size: 55px;
}

.subtitulo{
    font-family: 'Raleway', sans-serif;
    text-align: start;
    color: white;
    padding: 0 40px;
    font-size: 25px;
}

.rounded{
    border-radius: 100%;
}

.imagen-jane-goodall-y-textura-hojas{

}

.imagen-textura-hojas { /* Imagen de Textura de Hojas */
    opacity: 0.5; /* Opacidad de la imagen */
}

.parrafo-biografia{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #414E3B;
    border-style:dashed;
}

.cita-jane{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #414E3B;
}

.enlace-pagina-instituto{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
}