*{
    margin: 0;
}

body{
    /*background-color: #677359;*/
    background-color: #82927A;
}

header{
    width: 100%;
    height: 10%;
    background-color: #82927A;
    padding: 2%;
    display: flex;
}

main{
    background-color: #FFFFFF;
    display: flex;
}

footer{
    background-color: #677359;
    padding: 25px;
}

.linea{
    border-left: thick solid #FFFFFF;
    height:13%;
    left: 2.5%;
    position: absolute;
    top: 36px; 
}

h1{
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF; text-shadow: darkslategray 0.1em 0.1em 0.2em;
    padding: 0 40px;
    font-size: 55px;
}

.subtitulo{
    font-family: 'Raleway', sans-serif;
    text-align: start;
    color: white;
    padding: 0 40px;
    font-size: 25px;
}

.rounded{/*recorte de img contacto*/
    border-radius: 100%;
}

#botones {
    /*
    justify-content:end;
    align-items: flex-end;
    */
    margin-left: 427px;
    padding: 12px;
  }

.imagen-textura-hojas { /* Imagen de Textura de Hojas */
    opacity: 0.5; /* Opacidad de la imagen */
}

.imagen-jane-goodall{
    /*opacity: 100;*/
    top: 0;
}

.parrafo-biografia{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #414E3B;
    border-style:dashed;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.cuadrado {
    width: 814px; 
    height: 150px;
    background: #414E3B;
    padding-top: 32px;
}

.oval-half-red {
     width: 710px;
     height: 100px;
     border-top-left-radius: 100px;
     border-top-right-radius: 100px;
     border-bottom-right-radius: 100px;
     background: #FFFFFF;
     margin-left: 50px;
}

.cita-jane{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #414E3B;
    padding-top: 33px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.iniciales-cita{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-align:end;
    color: #414E3B;
    padding-right: 90px;
}

.enlace-pagina-instituto{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
}